/* CSS Reset */

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/* Generics */

header
{
    background-color:#FF6900;
    color:white;
    display:flex;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
}

body
{
    font-family:sans-serif;
    margin-top:150px;
}

ul
{
    list-style-type:none;
}

a
{
    color:white;
    text-decoration:none;
}

/* Utilities */

.flex
{
    display:flex;
}

.container
{
    max-width:75%;
    margin:auto;
}

.tag
{
    color:white;
    font-size:13px;
    font-weight:bold;
    display:inline;
    padding:5px 10px;
}

/* Header */

header > div
{
    flex-basis:calc(100% / 3);
    align-items:center;
    justify-content:center;
    padding:20px 0;
}

.header-list a
{
    font-size:16px;
    padding:0 7px;
    font-weight:bold;
}

.logo
{
    height:33px;
}

/* Main */

.row
{
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
}

.column
{
    flex-basis:calc(100% / 3 - 40px);
    position:relative;
    top:0;
    left:0;
}

.card-img
{
    width:100%;
}

.img-hover
{
    position:absolute;
    top:0;
    left:0;
    opacity:0;
}

.card-img:hover
{
    opacity:0;
}

.img-hover:hover
{
    opacity:1;
}

.heart:hover
{
    color:red;
    cursor:pointer;
}

.favorite
{
    position:absolute;
    top:10px;
    right:0;
    background-color:white;
    font-size:35px;
    padding:5px 15px;
}

.labels
{
    position:absolute;
    bottom:100px;
    left:0;
}

.discount
{
    background-color:red;
}

.sustainability
{
    background-color:green;
}

.brand
{
    font-size:14px;
}

.price
{
    color:red;
    font-size:14px;
}

.old-price
{
    color:black;
    text-decoration: line-through;
}